<div class="span2 btn-group">
    <a class="btn" data-action="hide"><i class="icon-zoom-out"></i></a>
    <a class="btn cancel_todo_edition" data-action="cancel"><i class="icon-chevron-left"></i></a>
    <a class="btn btn-success save_todo" data-action="save"><i class="icon-ok icon-white"></i></a>
</div>
<div class="span5">
<%
    var name = model.get("name");
    var due_time = model.get("due_time");
    if (due_time){
        var date = due_time.split(" ")[0];
        var time = due_time.split(" ")[1];
    }

    var priority = model.get("priority")[0];
    var list_id = model.get("todo_list").id;
    var context_id = model.get("todo_context") ? model.get("todo_context").id : undefined;
    var notes = model.get("notes");
%>
    <form method="POST" id="change-todo-form" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="id_name">Name:</label>
            <div class="controls">
                <input id="id_name" type="text" name="name" value="<%=name%>"/>
                <span class="errors-info errors_name help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_due_time_date">Due date and time:</label>
            <div class="controls">
                <input style="display:inline;" class="span4" type="text" name="due_time_date" id="id_due_time_date" <%if(due_time){%>value="<%=date%>"<%}%>>
                <input style="display:inline;" class="span3" type="text" name="due_time_time" id="id_due_time_time" <%if(due_time){%>value="<%=time%>"<%}%>>
                <span class="errors-info errors_due_time help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_priority">Priority:</label>
            <div class="controls">
                <% if (filters.priority){ 
                    var name;
                    if (filters.priority == 1){
                        name = "Low";
                    }else if(filters.priority == 2){
                        name = "Normal";
                    }else{
                        name = "High";
                    }
                %>
                    <%=name%>
                    <input type="hidden" value="<%=filters.priority%>" name="priority" id="id_priority">
                <% }else{ 
                %>
                <select name="priority" id="id_priority">
                    <option value="1" <%if(priority==1){%>selected="selected"<%}%> >Low</option>
                    <option value="2" <%if(priority==2){%>selected="selected"<%}%>>Normal</option>
                    <option value="3" <%if(priority==3){%>selected="selected"<%}%>>High</option>
                </select>
                <% } %>
                <span class="errors-info errors_priority help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_todo_list">List:</label>
            <div class="controls">
                <% if (filters.todo_list && todo_lists.get(filters.todo_list)){ 
                    var selected_todo_list = todo_lists.get(filters.todo_list);
                    var name = selected_todo_list.get("name");
                    var id = selected_todo_list.get("id");
                %>
                    <%=name%>
                    <input type="hidden" value="<%=id%>" name="todo_list" id="id_todo_list">
                <% }else{ 
                %>
                <select name="todo_list" id="id_todo_list">
                    <%
                        _.each(todo_lists.models, function(todo_list){
                            var id = todo_list.get("id");
                            var list_name = todo_list.get("name");
                    %>
                        <option value="<%=id%>" <%if(list_id==id){%>selected="selected"<%}%>><%= list_name %></option>
                    <%
                        });
                    %>
                </select>
                <% } %>
                <span class="errors-info errors_todo_list help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_todo_context">Todo context:</label>
            <div class="controls"> 
                <% if (filters.todo_context && todo_contexts.get(filters.todo_context)){ 
                    var selected_todo_context = todo_contexts.get(filters.todo_context);
                    var name = selected_todo_context.get("name");
                    var id = selected_todo_context.get("id");
                %>
                    <%=name%>
                    <input type="hidden" value="<%=id%>" name="todo_context" id="id_todo_context">
                <% }else{ 
                %>
                <select name="todo_context" id="id_todo_context">
                    <option  value=''>---------------------------</option>
                    <%
                        _.each(todo_contexts.models, function(todo_context){
                            var id = todo_context.get("id");
                            var context_name = todo_context.get("name");
                    %>
                        <option value="<%=id%>" <%if(context_id==id){%>selected="selected"<%}%>><%= context_name %></option>
                    <%
                        });
                    %>
                </select>
                <% } %>
                <span class="errors-info errors_todo_context help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_tags">Tags:</label>
            <div class="controls">
                <% 
                    var tags = "", name="";
                    var selected_todo_tag, name, id;
                    _.each(model.get("tags"), function(tag_info){
                        if(tag_info.id == filters.tags){
                            id = tag_info.id;
                            name = tag_info.name;
                        }else{
                            if(tags){
                                tags += ",";
                            }
                            tags += tag_info.name;
                        }
                    });
                    if(filters.tags){  
                %>
                    <input type="hidden" value="<%=name%>" name="predefined_todo_tag" id="id_predefined_todo_tag">
                    <%=name%>,
                <% } %>
                <input type="text" name="tags" id="id_tags" value="<%=tags%>"/>
                <span class="errors-info errors_tags help-inline"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="id_notes">Notes:</label>
            <div class="controls">
                <textarea id="id_notes" name="notes"><%=notes%></textarea>
                <span class="errors-info errors_notes help-block"></span>
            </div>
        </div>
    </form>
</div>
<div class="span5 manage-todo-alerts">
</div>
