<div class="span2 btn-group">
    <a class="btn" data-action="hide"><i class="icon-zoom-out"></i></a>
    <a class="btn btn-primary edit_todo" data-action="edit"><i class="icon-edit icon-white"></i></a>
</div>
<div class="span5">
<%
    var name = model.get("name");
    var due_time = model.get("due_time") || "Not set";
    var priority = model.get("priority")[1];
    var list_name = model.get("todo_list").name;
    var context_name = model.get("todo_context") ? model.get("todo_context").name : "No context";
    var notes = model.get("notes") || "No notes";
    var tags = model.get("tags");
%>
    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd><%=name%></dd>
        <dt>Due time</dt>
        <dd><%=due_time%></dd>
        <dt>Priority</dt>
        <dd><%=priority%></dd>
        <dt>List</dt>
        <dd><%=list_name%></dd>
        <dt>Context</dt>
        <dd><%=context_name%></dd>
        <dt>Tags</dt>
        <dd>
<%
    if(tags.length > 0){
    _.each(model.get("tags"), function(tag){
%>
        <%=tag.name%>
<%
    });
    }else{
%>
    No tags
<%
    }
%>
        </dd>
        <dt>Notes</dt>
        <dd><%=notes%></dd>
    </dl>
</div>
<div class="span5 manage-todo-alerts">
</div>
